<header class="top-header mat-elevation-z5" [class.hidden]="toggleSearch" [ngClass]="{'test' : getSideBarSate()}">
  <div class="d-flex align-items-center gap-1">
    <button mat-icon-button (click)="darkMode()">
      <mat-icon class="material-icons-outlined">{{ theme_name }}</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="UserProfile">
      <mat-icon class="material-icons-outlined">account_circle</mat-icon>
    </button>
    <mat-menu #UserProfile class="rounded-4 dropdown-userprofile">
      <button mat-menu-item class="d-flex align-items-center justify-content-center text-center py-2">
        <div>
          <img src="assets/images/avatars/avatar-1.png" width="80" height="80" class="rounded-circle" alt="">
        </div>
        <div>
          <h4 class="username mb-0">Hi, codervent!</h4>
          <p class="mb-0">coderventxyz.com</p>
        </div>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon class="material-icons-outlined">logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</header>
